# Downloads

Direct download
---------------

<div class="row">
    <div class="span6">
        <div class="review">
            <div class="reinfo">
                <h4>Release</h4>
                <p><em>${lastReleasedVersion}</em></p>
            </div>
            <div class="button"><a href="#" id="release_download"><i class="icon-download"></i> Coming soon</a> </div>
        </div>
    </div>
    <div class="span6">
        <div class="review">
            <div class="reinfo">
                <h4>Development</h4>
                <p><em>${project.version}</em></p>
            </div>
            <div class="button"><a href="#" id="dev_download"><i class="icon-download"></i> Download</a></div>
        </div>
    </div>
</div>

Maven
-----

The ${project.artifactId} released artifacts are available on Maven Central:

    <dependency>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${lastReleasedVersion}</version>
    </dependency>

Snapshots artifacts are available on the `ow2.snapshots` repository:

    <repositories>
        <repository>
            <id>ow2.snapshots</id>
            <url>http://repository.ow2.org/nexus/content/repositories/snapshots/</url>
            <snapshots>
                <enabled>true</enabled>
            </snapshots>
            <releases>
                <enabled>false</enabled>
            </releases>
        </repository>
    </repositories>

The dependency coordinates are:

    <dependency>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${project.version}</version>
    </dependency>


<!-- SCRIPTS -->
<script src="js/jquery-2.0.3.min.js"></script>
<script>
    var root = "http://repository.ow2.org/nexus/service/local/artifact/maven/content";
    var repoName = "snapshots";
    var groupId = "${project.groupId}";
    var artifactId ="${project.artifactId}";
    var devVersion = "LATEST"; // ${project.version}
    $( document ).ready(function() {
        // Snapshot button
        var urlDev = root + "?r=" + repoName + "&g=" + groupId + "&a=" + artifactId + "&v=" + devVersion;
        $("#dev_download").attr("href", urlDev);
    });
</script>
